body{
    margin:0;
}

.top .box{
    height:149px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello{
    font-family: 'Helvetica Neue',sans-serif;
    font-size:40px;
    color:#707070;
}

.bottom .box{
    height:236px;
    display:flex;
    overflow-x: auto;
}

.column{
    margin:21px 0;
}

.column:first-child{
    margin-left:21px;
}

.item{
    background-color: #FFF5D9;
    border:solid 2px #707070;
    width:22px;
    height:48px;
    font-weight: bold;
    font-size:40px;
    color:#F0DFAE;
    padding:20px 38px 21px;
    margin-right:21px;
}

.item:first-child{
    margin-bottom:16px;
}

.foot{
    background-color:#FFE8AA;
    border: solid 2px #707070;
    border-radius: 4px;
    width:120px;
    height:45px;
    bottom:37px;
    position:fixed;
    display: flex;
    justify-content: center;
}

.start{
    font-size: 20px;
    font-weight:bold;
    color:#707070;
    padding:10px 37px 11px;
}