body{
    margin:0;
    -webkit-font-smoothing: antialiased; /*フォントを綺麗にする(?)*/
}

.top .box{
    height:149px;
    display: flex;
    justify-content: center; /*アイテムを真ん中寄せに*/
    align-items: center; /*アイテムを中央付近にまとめる*/
}

.hello{
    font-family: 'Helvetica Neue',sans-serif;
    font-size:40px;
    color:#707070;
}

.bottom .box{
    height:236px;
    display:flex;
    overflow-x: auto; /*はみ出た要素の左右の表示方法を指定*/
    overflow-y:hidden; /*はみ出た要素の上下の表示方法を指定*/
}

.column{
    margin:21px 0;
}

.column:first-child{
    margin-left:21px;
}

.item{
    background-color: #FFF5D9;
    border:solid 2px #707070;
    width:22px;
    height:48px;
    font-weight: bold;
    font-size:40px;
    color:#F0DFAE;
    padding:20px 38px 21px;
    margin-right:21px;
}

.item:first-child{
    margin-bottom:16px;
}

.foot{
    width:100vw;
    left:0;
    bottom:37px;
    position:fixed;
    display: flex;
    justify-content: center;
    
}

.start{
    box-sizing: border-box; /*paddingとborderを幅と高さに含める*/
    background-color:#FFE8AA;
    border: solid 2px #707070;
    padding: 8px 0 8px;
    border-radius: 4px;
    font-size: 20px;
    font-weight:bold;
    color:#707070;
    width:120px;
    text-align: center;
}